# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/
*.abi3.*

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/


# Rust
rust/target/
rust/output_tiff/

# Data
*/data/
*.parquet

# IDE
./vscode/

# Byte-compiled / optimized / DLL files / C extensions
__pycache__/
*.py[cod]
*$py.class
*.so
cython_debug/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints


# PEP 582
__pypackages__/

# Environments
.venv

# Ruff
.ruff_cache/
