# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/
*.abi3.*

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/


# Rust
rust/target/
rust/output_tiff/

# Data

*/data/

# IDE
./vscode/

*.parquet
